DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=ygooDB
POSTGRES_USER=admin
POSTGRES_PASSWORD=YUGOOH
POSTGRES_DRIVER=postgres
CARD_TABLE_NAME=card
LINKMARKERS_TABLE_NAME=linkmarkers
IMAGES_TABLE_NAME=card_images